<% content_for :sidebar do %>
<ul>
	<li><a href="#bio" class="active">Bio</a></li>
	<li><a href="#topaz">Topaz</a></li>
	<li><a href="#asteroids">Asteroids</a></li>
	<li><a href="#flappybird">Flappy Bird</a></li>
	<li><a href="#findr">Findr</a></li>
	<li><a href="#trellino">Trellino</a></li>
	<li><a href="#checkers">Checkers</a></li>
	<li><a href="#chess">Chess</a></li>
</ul>
<% end %>

<h1>Arieh Smith</h1>
<h2><a href="mailto:arieh.smith@gmail.com">Email</a> | +1-516-318-3233 | <a href="https://github.com/ariieh">GitHub</a> | <a href="http://www.linkedin.com/in/ariehsmith">LinkedIn</a></h2>

<div id="main-content">
	<div id="bio">
		<h3>Bio</h3>
		<p>Hi, my name's Ari. I <span class="highlight"><em>make cool software</em></span> and I'm <span class="highlight"><strong>available for hire</strong></span>.</p>
		<p>I'm passionate about <span class="highlight">good design</span>, I'm down with <span class="highlight">Rails</span>, and I love <span class="highlight">Javascript</span>.</p>
		<p>Check out some of what I've done after the jump. Click the images to enlarge.</p>
	</div>

	<div id="topaz">
		<h3>Topaz <span class="header-link"><a href="http://www.topaz.ninja">link</a></span><span class="header-link"><a href="https://github.com/ariieh/Topaz">github</a></span></h3>
		<h4>Ruby on Rails & Backbone.js, July 2014</h4>
		<%= image_tag("topaz.png", id: "topaz-image", width: "800", height: "516") %>
		<p>See suggested demo steps <a href="https://github.com/ariieh/Topaz">here</a>. Be sure to sign in (as demo user) first!</p> 
		<ul>
		<li>Rails and Backbone.js-based single-page clone of the popular business news site <a href="http://qz.com/">Quartz</a> with Medium-style blogging features</li>
		<li>Implements site-wide infinite scroll built on top of Kaminari and firing custom SQL queries</li>
		<li>Utilizes Redis to maintain full page-level article cache, refreshing on database changes</li>
		<li>Uses custom-built Markdown-based text editor with live HTML text and image preview, allowing for
automated text selection and instantaneous AJAX uploading and rendering</li>
		<li>Live searches and highlights full article text with prioritized PgSearch query</li>
		</ul>
	</div>

	<div id="asteroids">
		<h3>Asteroids <span class="header-link"><a href="http://arieh-asteroids.herokuapp.com">link</a></span><span class="header-link"><a href="https://github.com/ariieh/Asteroids">github</a></span></h3>
		<h4>HTML5 canvas & Javascript, June 2014</h4>
		<%= image_tag("asteroids.png", id: "asteroids-image", width: "600", height: "332") %>
		<p>Control ship with arrow keys and fire with spacebar.</p> 
		<ul>
		<li>Smoothly renders animated images and background with HTML5 canvas and Javascript in full-screen browser view</li>
		<li>Binds keys with Keymaster.js to implement arctangent-based ship rotation and constant-speed bullet firing</li>
		<li>Fends off enemies with flaming footballs</li>
		</ul>
	</div>

	<div id="flappybird">
		<h3>Flappy Bird <span class="header-link"><a href="http://arieh-flappy-bird.herokuapp.com">link</a></span><span class="header-link"><a href="https://github.com/ariieh/FlappyBird">github</a></span></h3>
		<h4>HTML5 canvas & Javascript, July 2014</h4>
		<%= image_tag("flappybird.png", id: "flappybird-image", width: "600", height: "416") %>
		<p>Control bird with arrow keys.</p> 
		<ul>
		<li>Side-scrolling, tropical-themed Flappy Bird clone with custom gravity</li>
		<li>Game difficulty increases with game length</li>
		<li>Maintains scores in PostgreSQL database, querying and updating main content modal with pure jQuery</li>
		</ul>
	</div>

	<div id="findr">
		<h3>Findr <span class="header-link"><a href="http://wififindr.herokuapp.com">link</a></span><span class="header-link"><a href="https://github.com/ariieh/Findr">github</a></span></h3>
		<h4>Ruby on Rails & Bootstrap, May 2014</h4>
		<%= image_tag("findr.png", id: "findr-image", width: "483", height: "343") %>
		<ul>
		<li>Queries NYC Open Data to find free WiFi locations in NYC closest to given address</li>
		<li>Caches Google Geocoding and Distance Matrix API results in database</li>
		</ul>
	</div>

	<div id="trellino">
		<h3>Trellino <span class="header-link"><a href="http://arieh-trellino.herokuapp.com">link</a></span><span class="header-link"><a href="https://github.com/ariieh/Trellino">github</a></span></h3>
		<h4>Ruby on Rails & Backbone, June 2014</h4>
		<%= image_tag("trellino.png", id: "trellino-image", width: "442", height: "345") %>
		<ul>
			<li>A (very!) light Rails/Backbone clone of the organizer app <a href="https://trello.com/">Trello</a></li>
			<li>Utilizes Javascript Masonry grid library to maintain fluid grid layout (try horizontally resizing the page!)</li>
		</ul>
	</div>

	<div id="checkers">
		<h3>Checkers <span class="header-link"><a href="https://github.com/ariieh/Checkers">github</a></span></h3>
		<h4>Ruby, May 2014</h4>
		<%= image_tag("checkers.png", id: "checkers-image", width: "675", height: "300") %>
		<ul>
			<li>Graphical, object-oriented, console-based Ruby checkers implementation</li>
			<li>Integrates with custom-built AI for one-level deep board search</li>
		</ul>
	</div>

	<div id="chess">
		<h3>Chess <span class="header-link"><a href="https://github.com/ariieh/Chess">github</a></span></h3>
		<h4>Ruby, May 2014</h4>
		<%= image_tag("chess.png", id: "chess-image", width: "534", height: "224") %>
		<ul>
			<li>Graphical, object-oriented, console-based Ruby chess implementation</li>
			<li>Implements AI with open-source chess engine <a href="http://stockfishchess.org/">Stockfish</a> binaries</li>
		</ul>
	</div>
</div>

<script>
$(window).load(function(){
	window.widthValues = {
		"topaz": $("#topaz-image").width(),
		"asteroids": $("#asteroids-image").width(),
		"flappybird": $("#flappybird-image").width(),
		"findr": $("#findr-image").width(),
		"trellino": $("#trellino-image").width(),
		"checkers": $("#checkers-image").width(),
		"chess": $("#chess-image").width()
	}

	window.heightValues = {
		"topaz": $("#topaz-image").height(),
		"asteroids": $("#asteroids-image").height(),
		"flappybird": $("#flappybird-image").height(),
		"findr": $("#findr-image").height(),
		"trellino": $("#trellino-image").height(),
		"checkers": $("#checkers-image").height(),
		"chess": $("#chess-image").height()
	}
	
	console.log(window.heightValues);
	
	window.divHeights = {
		"bio": $("#bio").offset().top,
		"topaz": $("#topaz").offset().top,
		"asteroids": $("#asteroids").offset().top,
		"flappybird": $("#flappybird-image").offset().top,
		"findr": $("#findr").offset().top,
		"trellino": $("#trellino").offset().top,
		"checkers": $("#checkers").offset().top,
		"chess": $("#chess").offset().top
	}
	
	$('section.sidebar a').on("click",function(event){
		event.preventDefault();
		$('body').scrollTo($(event.currentTarget).attr("href").toString(), {duration:200});
	});
	
	$(window).on("scroll", function(event){
		this.el = ("bio" || this.el);
		var el = this.el;
		Object.keys(window.divHeights).forEach(function(key){
			if (Math.abs(window.divHeights[key] - $(window).scrollTop()) < Math.abs(window.divHeights[el] - $(window).scrollTop())){
				el = key;
			}
		});
		$("a").removeClass("active");
		
		if ($(window).scrollTop() < ($(document).height() - $(window).height())){
			$("a[href=#" + el + "]").addClass("active");
		} else {
			$("a[href=#chess]").addClass("active");
		}
	});
	
	$('nav a').on("click",function(event){
		event.preventDefault();
		$('body').scrollTo($(event.currentTarget).attr("href").toString(), {duration:200, offset: -75});
	});
	
	$('img').hover(function(event){
	    var fullImage = new Image();
	    fullImage.src = $(event.currentTarget).attr("src");

		$("<img src='"+ fullImage.src +"'></img>").load(function(){
			if ($(this)[0].width > $(event.currentTarget).width()){
				$(event.currentTarget).css("cursor","-webkit-zoom-in");
			} else {
				$(event.currentTarget).css("cursor","-webkit-zoom-out");
			}
		});
		
	    return false;
	});
	
	if(!/iPhone|iPod|iPad|Android|BlackBerry/.test(navigator.userAgent) ) {
	$('img').click(function(event){
	    var fullImage = new Image();
	    fullImage.src = $(event.currentTarget).attr("src");
		var imageName = $(event.currentTarget).attr("id").split("-")[0];

		$("<img src='"+ fullImage.src +"'></img>").load(function(){
			if ($(this)[0].width > $(event.currentTarget).width()){
				$(event.currentTarget).animate({width: $(this)[0].width, height: $(this)[0].height});
				$(event.currentTarget).css("cursor","-webkit-zoom-out");
			} else {
				$(event.currentTarget).animate({width: window.widthValues[imageName], height: window.heightValues[imageName]});
				$(event.currentTarget).css("cursor","-webkit-zoom-in");
			}
		});
		
	    return false;
	});
	}
});
</script>